.item{
    padding: 1em 0 0 0;
    -moz-page-break-inside: avoid;
    -webkit-column-break-inside: avoid;
    break-inside: avoid;
}
@media screen and (max-width: 1360px){
    .identifier {
        column-count: 1 ! important;
    }
}